/* 
  main.css
  This file serves as the main stylesheet for the project. 
  It imports the base styles defined in base.css. 
  base.css, in turn, imports Tailwind CSS through the Tailwind directive.
*/

@import './base.css';

/* Additional custom styles can be added below this comment */
html {
  overflow-y: scroll; /* Always show the vertical scrollbar */
  /* Optional: Adjust width to maintain layout */
  scrollbar-width: thin; /* For Firefox */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
